@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.animate-spining {
  animation: spining 2s ease-in-out infinite;
}

@keyframes spining {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(2160deg);
  }
}